.feed{
    width: 59%;
    height: 92vh;
    position:absolute;
    top: 13%;
    left: 22%;
    overflow: scroll;
}

::-webkit-scrollbar{
    display: none;
}

.feedDisplay{
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
}

.weather{
    background-image: url(../images/sunrise.jpg);
    background-size: cover;
    background-position: 30%;
}
.weather2{
    background-image: url(../images/moon.jpg);
    background-size: cover;
    background-position:10%;
    background-blend-mode: color-burn;
}

.weather,.weather2{
    height: 10%;
    width: 59%;
    margin: 3% 0% 0% 2%;
    position: fixed;
    top: 6%;
    left: 19%;
    background-color: transparent;
    border-radius: 7px 8px;
    box-shadow: 0rem 0rem 0.5rem black;
}
.weatherComponents>h3,.weatherComponents2>h3{
    width: 100%;
    text-align: center;
    height: 1%;
    width: 10%;
    color: white;
    text-shadow: 0rem 0rem 0.5rem black;
    background-color: transparent;
}

.weatherComponents,.weatherComponents2{
    height: 1%;
    width: 100%;
    display: flex;
    font-size: 80%;
    justify-content: space-evenly;
    background-color: transparent;
}
.weatherComponents>p,.weatherComponents2>p{
    background-color: transparent;
    color: white;
    text-shadow: 0rem 0rem 0.5rem white;
}
.climate,.climate2{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0%;
    background-color: transparent;
}
.climate>p,.climate2>p{
    margin: 10% 0% 0% 0%;
    color: white;
    text-shadow: 0rem 0rem 0.5rem black;
    font-weight: bold;
    
}
.climate1{
    background-color: transparent;
    position: relative;
    top: 1%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.climate1>img{
    height: 6%;
    width: 4%;
    position: fixed;
    top: 13%;
    background-color: transparent;
    margin: 0%;
    
}

.climateName,.climateName2{
    background-color: transparent;
    margin: 0%;
    position: fixed;
    top: 17.5%;
    font-weight: bold;
    color: white;
    text-shadow: 0rem 0rem 0.5rem black;
}

.post{
    width: 95%;
    margin-left: 1%;
    background-color: white;
    color: black;
    border-radius: 7px 8px;
    box-shadow: 0rem 0rem 0.2rem black;
}
.feedUserInfo{
    background-color: transparent;
    margin: 2% 4% 2% 4%;
    display: flex;
    align-items: center;
    gap: 2%;
}
.feedUserInfo > h2{
    margin: 2% 0% 0% 0%;
}
.feedUserInfo > img {
    margin: 2% 0% 0% 0%;
    height: 6%;
    width: 6%;
    border-radius: 100%;
}
.post > h3,p,h2{
    color: black;
    background-color: transparent;
}
.post >h3{
    margin: 2% 2% 0% 2%;
    padding: 0% 2% 0% 2%;
}
.post >p{
    margin: 0% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    font-weight: 500;
}
.feedImg{
    background-color: white;
    border-radius: 7px 8px;
    margin-bottom: 1%;
}
.feedImg>img{
    height: 40%;
    width: 40%;
    margin-left: 30%;
}
.feedImg1{
    display: none;
}