.RightSideBar{
    width: 17%;
    height: 92vh;
    background-color: transparent;
    position: fixed;
    top:18%;
    left: 81%;
    display: flex;
    flex-flow: column;
}
.touristMap{
    height: 40%;
    width: 95%;
    position: relative;
    top: -5%;
    margin: 5% 0% 0% 2%;
    background-color: white;
    border-radius: 7px 8px;
    box-shadow: 0rem 0rem 0.5rem black;
}
.news{
    height: 40%;
    width: 110%;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    gap: 5%;
    position: relative;
    top: 6%
}
.news>h2{
    position: fixed;
    top: 52%;
    text-shadow: 0rem 0rem 0.5rem white;
}
.news1{
    background-color: white;
    height: 100%;
    width: 90%;
    font-size: 80%;
    margin-left: 2%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0rem 0rem 0.4rem black;
}
.news1>p{
    margin: 0% 2% 0% 5%;
    width:90%;
    height: 40%;
    overflow: hidden;
}
.news1>img{
    height:50%;
    width: 90%;
    margin-top: 5%;
}
