.editprofile{
    background-color: transparent;
    position:fixed;
    height:150%;
    width: 80%;
    top: 27%;
    left: 30%;
   
}

.editprofile>form{
    display: flex;
    flex-flow: column;
    height: 20%;
    width: 60%;
    gap:25%;
    background-color:transparent;
    margin-left:0%;
}
.editprofile>form>div >input{
    background-color: white;
    height: 200%;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.editprofile>h2{
    color: blueviolet;
    font-weight: bolder;
    font-size:200%;
    position: absolute;
    top: -60%;
}
.editprofile>form>button{
    min-height: 5%;
    width:10%;
    background-color: blueviolet;
    border-radius: 20px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    position:fixed;
    top: 82%;
    left: 48%;
    box-shadow: 0rem 0rem 0.3rem rgb(241, 240, 240);
}
.editprofile>form>button:hover{
    min-height:6%;
}
.editprofile>form>div>select{
    background-color: white;
    height: 200%;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.editprofile>form>img{
    height: 10%;
    width: 5%;
    position:fixed;
    left: 54%;
    top: 69%;
}
.videoupload>input{
    display: none;
}
.videoupload>label{
    position: fixe;
    left: 18%;
    top:30%;
    font-weight: bold;
    font-size: 130%;
}
.tick1>img{
    height: 10%;
    width: 5%;
    position:fixed;
    left: 59%;
    top: 70%;
}
.tick1>button{
    border: none;
}
.tick1>button>svg{
    height: 8%;
    width: 4%;
    position:absolute;
    left: 45%;
    top: 28%;
}
.tick1>button>svg:hover{
    color: red;
}
.videoupload>h2{
    position: fixed;
    top: 15%;
    left: 22%;
    color: blueviolet;
    font-size: 190%;
    font-weight: bolder;
}