.icons{
    position: absolute;
    top: 20%;
    left: 20%;
    display:flex;
    width: 61%;
    flex-wrap:wrap;
    background: transparent;
    
}
.followedusers{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 20%;
}
.followedusers>img{
   height: 50%;
   width: 30%;
   border-radius: 50%;
   background: transparent;
}
.followedusers2>p{
    margin-top:1%;
    position: relative;
    color:blueviolet ;
    left: 7%;
    font-size: 100%;
    font-weight: bold;
    background: transparent;
}
