.newPostPage{
    width: 73%;
    height: 92vh;
    position:fixed;
    top: 15%;
    left: 22%;
}
.newPostPage>h2{
    color: blueviolet;
}
.newPostForm{
    height: 75%;
    width: 50%;
    position: relative;
    left: 23%;
    background-color: white;
    border-radius: 7px 8px;
    box-shadow: 0rem 0rem 0.2rem black;
}
.formElement{
    height: 90%;
    width: 90%;
    position: relative;
    top: 10%;
    left: 5%;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    gap: 3%;
}
.inputs{
    height: 80%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    gap: 5%;
}
.inputs > input{
    height: 10%;
    width: 80%;
    margin: 0% 10% 0% 10%;
    background-color: white;
    border-radius: 7px 8px;
    border: 2px rgba(128, 128, 128, 0.473) solid;
    padding: 1%;
}
.inputs>textarea{
    height: 40%;
    width: 80%;
    margin: 0% 10% 0% 10%;
    background-color: white;
    border-radius: 7px 8px;
    border: 2px rgba(128, 128, 128, 0.473) solid;
    resize: none;
    padding: 1%;
}
label{
    position: absolute;
    left: 100000px;
}
.postButtons{
    height: 10%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
}
.postButton{
    height: 100%;
    width: 23%;
    color: white;
    font-size: 110%;
    font-weight: 500;
    border: none;
    background-color: blue;
    border-radius: 7px 8px;
    box-shadow: 0rem 0rem 0.2rem black;
}
.postButton:hover{
    height: 101%;
    width: 24%;
    font-size: 120%;
    box-shadow: 0rem 0rem 0.5rem black ;
}
.imageInput{
    display: none;
}
.getImage{
    background-color: transparent;
}
.getImage > label {
    position: relative;
    left: 20%;
    background-color: transparent;
}
.getImage>img{
   height: 80%;
   width: 15%;
   border-radius: 100%;
   position: relative;
   left: 22%;
   top:30%
}
.tick{
    background: transparent;
    height: 10%;
}
.tick>button{
    background-color: transparent;
    border: none;
}
.tick>img{
    background: transparent;
    height: 120%;
    width: 13%;
    border-radius: 100%;
    position: relative;
    left: 64%;
    top:-160%;
}
.tick>button>svg{
 background-color: transparent;
 height: 10%;
 width: 10%;
 position:absolute;
 left: 80%;
 top:58%;
}
.tick>button>svg:hover{
   color: red;
   }