.notificationPage{
  position: absolute;
  top: 16%;
  left: 23%;
  width: 40%;
  height: 70%;
}
.notificationPage2{
    width: 90%;
    height: 70%;
}
.notificationPage3{
    display: flex;
    flex-flow: column;
    gap: 10%;
    width: 40%;
    height: 70%;
}
.notificationPage3>h1{
    width: 200%;
    color: blueviolet;
    height:20% ;
}
.notificationPage4{
    height: 30%;
    width: 200%;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.4rem black;
}