.singlePost{
    position: fixed;
    top:17%;
    left: 20%;
    width: 60%;
    height: 100vh;
    background-color: white;
    box-shadow: 0rem 0rem 0.2rem black;
    
}
.singlePostContent{
    height: 84vh;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
.postContent{
    position: relative;
    top: 0%;
    height: auto;
    width: 100%;
    background-color: white;
}
.postContent>h1{
    background-color: white;
    height: auto;
    width: 90%;
    margin: 2% 4% 2% 4%;
}
.postContent>p{
    background-color: white;
    height: auto;
    width: 90%;
    font-size: 110%;
    margin: 2% 4% 2% 4%;
}
.userInfo{
    height: 200%;
    width: 100%;
    background-color: transparent;
    margin: 2% 4% 2% 4%;
    display: flex;
    align-items: center;
    gap: 2%;
}
.userInfo > img {
    height: 100%;
    width: 7%;
    border-radius: 100%;
}
.userInfo > h2 {
    height: 100%;
    color: blueviolet;
}
.postImg{
    height: 70%;
    width: 60%;
    position: relative;
    left: 20%;
}
.interactionSession{
    height: 50%;
    width: 90%;
    background-color: white;
    margin: 2% 4% 2% 4%;
    display: flex;
    flex-flow: column;
    gap: 5%;
}
.likeSession{
    background-color: transparent;
    height: 15%;
    width: 90%;
    margin-left: 2%;
    display: flex;
    gap: 6%;

}
.buttons{
    background-color: transparent;
    display: flex;
}
.buttons1{
    background-color: transparent;
    display: flex;
}
.buttons>svg{
    background-color: transparent;
    color: skyblue;
    height: 100%;
    width: 80%;
}
.buttons1>svg{
    color:blueviolet;
    background-color: transparent;
    height: 100%;
    width: 80%;
}
.commentSession{
    height: 80%;
    width: 90%;
    background-color: white;
}
.commentForm{
    height: auto;
    background-color: white;
}
.commentForm>label{
    position: relative;
    left: 100000px;
}
.commentForm>textarea{
    background-color: transparent;
    width: 70%;
    min-height: 20%;
    border: 2px solid rgba(128, 128, 128, 0.498);
    border-radius: 7px 8px;
    position: relative;
    top: 25%;
    left:3%;
    resize:none;
    font-size: 120%;
    padding: 1% 1% 0% 2%;
}
.commentForm>button{
    background-color: transparent;
    width: 8%;
    height: 70%;
    border: none;
    border-radius: 7px 8px;
    position: relative;
    top: 25%;
    left:5%;
}
.commentForm>button>svg{
    background-color: transparent;
    width: 90%;
    height: 90%;
}
.comments{
    height: 150%;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    top: 10%;
    left: 10%;
    background-color: white;
}
.commentContent{
    width: 90%;
    margin-left: 2%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    gap:10%;
}
.commentDisplay{
    width: 90%;
    margin: 2%;
    height: auto;
    background-color:transparent;
    box-shadow: 0rem 0rem 0.3rem black;
    padding: 2%;
}
.commentUser{
    background-color: transparent;
    display: flex;
    gap: 2%;
}
.commentUser > h3{
    background-color: transparent;
    margin: 0%;
}

.commentUser > img{
    height: 7%;
    width: 7%;
    background-color: transparent;
}

