.profilePage{
    width: 73%;
    height: 92vh;
    position:absolute;
    top: 15%;
    left: 22%;
}
.profileDetails{
    height: 70%;
    display: flex;
    flex-flow: column;
    gap: 5%;
}
.profilePic{
    height: 100%;
    width: 50%;
}
.profileButtons{
    display: flex;
    gap: 5%;
    position: fixed;
    top: 42%;
    left: 54.5%;
    height: 5%;
    width: 50%;
}
.profileButtons > p {
    width: 15%;
    height: 90%;
    border: none;
    border-radius: 7px 8px;
    color: white;
    background-color: blueviolet;
    font-size: 120%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileButtons > button {
    width: 1%;
    height: 1%;
    border: none;
    color: black;
    background-color: transparent;
}
.profilePicDelete{
    position: fixed;
    top: 23%;
    left: 65%;
    color: black;
}
.profilePicDelete > button{
    border: none;
    height: 150%;
    width: 150%;
}
.profilePicDelete > button :hover{
    color: red;
}
.profilePicDelete > button > svg{
    height: 130%;
    width: 130%;
}
.profileVideo {
    height: 100%;
    width: 100%;
    position: relative;
    top: 20%;
    left: 40.5%;
}
.profileVideo>img{
    height: 100%;
    width: 20%;
    border-radius: 100%;
}
.profileVideoDisplay{
    height: 100%;
    width: 20%;
    border-radius: 100%;
    border: 2px solid blueviolet;
    z-index: 2;
    overflow: hidden;
}
.profileVideoDisplay > video{
    position: relative;
    top: -35%;
    left:-30%;
    height: 170%;
    width: 160%;
    margin: 0%;
    background-color: transparent;
}
.userDetails{
    position: fixed;
    top: 13%;
    left: 22%;
    height: 50%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-flow: column;
    gap: 1%;
}
.profilePic{
    height: 55%;
    width: 50%;
    position: relative;
    top: 0%;
    left: 11%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.profilePic>h1{
    margin: 1%;
    position: fixed;
    top: 35%;
    color: blueviolet;
    text-shadow: 0rem 0rem 1px black;
}
.imgInput{
    display: none;
}
.userAnalytics{
    width: 75%;
    position: relative;
    top: 10%;
    left: -1.5%;
    display: flex;
    justify-content: space-evenly;
}
.analytics{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.analytics > h2,h3{
    font-size: 150%;
    color: blueviolet;
    margin: 1%;
}
.yourPostsDisplay{
    position: relative;
    top:50%;
    width: 100%;
    height: auto;
}
.posts{
    width: 100%;
    margin-left: 1%;
    padding-bottom: 2%;
    background-color: white;
    color: black;
    border-radius: 7px 8px;
    box-shadow: 0rem 0rem 0.2rem black;
    z-index: 1;
}
.posts > h3,p{
    color: black;
    background-color: transparent;
}
.posts >h3{
    margin: 2% 2% 0% 2%;
    padding: 2% 2% 0% 2%;
}
.posts >p{
    margin: 0% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
}
.profileFeedImg{
    background-color: white;
    border-radius: 7px 8px;
}
.profileFeedImg>img{
    height: 30%;
    width: 30%;
    margin-left: 30%;
}
.profileFeedImg1{
    display: none;
}
.noPost{
    position:fixed;
    top: 75%;
    left: 51%;
}
.noPost > p {
    font-size:150%
}